@charset "utf-8";


/* twitter画像をホバーした */
img.twitter_button:hover{

	/* 透明度を上げることで、画像の色を薄く見せる。*/
	opacity:0.5;

	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
}

/* twitter画像をクリックした瞬間 */
img.twitter_button:active{

	/* 要素を若干下に下げることで、押した感じを出す。*/

	/* 今いる位置から相対的に3px下に配置する。*/
	position: relative;
	top: 3px;

}
ol span{
    float: right;
}
